<!DOCTYPE html>
{% include 'layout.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="">
    Product name:<br>
  <input type="text" name="productname"><br>
    Product price:<br>
  <input type="text" name="productprice"><br>
    Product quantity:<br>
  <input type="text" name="productquantity"><br>
    Product location:<br>
  <input type="text" name="productlocation"><br>
    Product size:<br>
  <input type="text" name="productsize"><br>
    Product color:<br>
  <input type="text" name="productcolor"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>